<script id="popup" type="x-tmpl-mustache">
<div id="mpe-{{type}}-{{id}}">
  <div class="mpe-header">

    <div class="mpe-help" title="Show Help page" class="help">
      <a target="popup_help" href='{{url_help}}'>&nbsp;&#63;&nbsp;</a>
    </div>

    <a title="View this object at OpenStreetMap" class="mpe-id" target="_blank" href="{{mainWebsite}}/{{type}}/{{id}}">{{type}} {{id}}</a>
    <span class="mpe-ver">v{{version}}</span>

    <div class="mpe-links">
      <a target="_blank" href="http://level0.osmz.ru/?url={{type}}/{{id}}" title="Use Level0 to edit this feature.">level0</a>
    </div>
  </div>

<div class="mpe-content">
  <div class="mpe-fixes">
  {{#fixes}}
    {{#add}}
<div class="add" title='Add a new tag "{{k}}"'> ➕ <span class="tag">{{k}}</span> =
  {{#vlink}}<a href="{{vlink}}" target="popup_tag2link">{{/vlink}}
  <span class="value">{{v}}</span>
  {{#vlink}}</a>{{/vlink}}
</div>
    {{/add}}
    {{#mod}}
<div class="mod" title='Modify "{{k}}" tag'> ✎ <span class="tag">{{k}}</span> =
  {{#oldvlink}}<a href="{{oldvlink}}" target="popup_tag2link">{{/oldvlink}}
  <span class="oldvalue">{{oldv}}</span>
  {{#oldvlink}}</a>{{/oldvlink}}
  ➡
  {{#vlink}}<a href="{{vlink}}" target="popup_tag2link">{{/vlink}}
  <span class="value">{{v}}</span>
  {{#vlink}}</a>{{/vlink}}
</div>
    {{/mod}}
    {{#del}}
<div class="del" title='Delete "{{k}}" tag'> ➖ <span class="tag">{{k}}</span> =
  {{#oldvlink}}<a href="{{oldvlink}}" target="popup_tag2link">{{/oldvlink}}
  <span class="oldvalue">{{oldv}}</span>
  {{#oldvlink}}</a>{{/oldvlink}}
</div>
    {{/del}}
  {{/fixes}}
  </div>
  <div class="mpe-comment" title="Comment for this change">
    {{comment}}
  </div>
  <div class="mpe-tags" title="Tags with no changes">
  {{#tags}}
    <span class="tag">{{k}}</span> =
    {{#vlink}}<a href="{{vlink}}" target="popup_tag2link">{{/vlink}}
    <span class="value">{{v}}</span>
    {{#vlink}}</a>{{/vlink}}
    <br>
  {{/tags}}
  </div>
</div>

<div class="mpe-footer">
{{^fixes}}
<div class="mpe-nofix">No Changes</div>
{{/fixes}}
{{#fixes}}
  <button class="mpe-save-btn" title="Upload this change to OpenStreetMap server">{{saveText}}</button>
{{/fixes}}
</div>
<div class="mpe-error"></div>
</div>
</script>

<script id="wait" type="x-tmpl-mustache">
<div class="mpe-header">
  <a class="mpe-id" target="_blank" href="{{mainWebsite}}/{{type}}/{{id}}">{{type}} {{id}}</a>
  <div class='mpe-wait' title='downloading'/>
</div>
</script>

<script id="error" type="x-tmpl-mustache">
<div class="mpe-header">
  <a class="mpe-id" target="_blank" href="{{mainWebsite}}/{{type}}/{{id}}">{{type}} {{id}}</a>
  <div class="mpe-error" title="Error">{{error}}</div>
</div>
</script>
