<!-- Main templates-->
<script id="popup" type="x-tmpl-mustache">
<div id="mpe-{{type}}-{{id}}">
{{> header}}{{> content}}{{> footer}}{{> err}}
</div>
</script>

<script id="wait" type="x-tmpl-mustache">
<div id="mpe-{{type}}-{{id}}">
  {{> header }}
  <div class='mpe-wait' title='downloading'/>
</div>
</script>

<script id="error" type="x-tmpl-mustache">
<div id="mpe-{{type}}-{{id}}">
  {{> header }}{{> err }}
</div>
</script>

<!-- Partials -->

<script id="header" type="x-tmpl-mustache">
<div class="mpe-header">
  <a title="View this object at OpenStreetMap" class="mpe-id" target="_blank" href="{{mainWebsite}}/{{type}}/{{id}}">{{type}} {{id}}</a>
  {{#version}}<span class="mpe-ver">v{{version}}</span>{{/version}}
  <div class="mpe-help" title="Show Help page" class="help">
    <a target="popup_help" href='{{url_help}}'>&nbsp;&#63;&nbsp;</a>
  </div>
  <div class="mpe-links">
    <a target="_blank" href="http://level0.osmz.ru/?url={{type}}/{{id}}" title="Use Level0 to edit this feature.">level0</a>
  </div>
</div>
</script>

<script id="content" type="x-tmpl-mustache">
<div class="mpe-content">
  {{> diff }}
  <div class="mpe-comment" title="Comment for this change">
    {{comment}}
  </div>
  {{> unchanged }}
</div>
</script>

<script id="diff" type="x-tmpl-mustache">
<div class="mpe-fixes">
  {{#fixes}}
  {{#add}}
<div class="add" title='Add a new tag "{{k}}"'> ➕ <span class="tag">{{k}}</span> =
  {{#vlink}}<a href="{{vlink}}" target="popup_tag2link">{{/vlink}}
  <span class="value">{{v}}</span>
  {{#vlink}}</a>{{/vlink}}
</div>
    {{/add}}
  {{#mod}}
<div class="mod" title='Modify "{{k}}" tag'> ✎ <span class="tag">{{k}}</span> =
  {{#oldvlink}}<a href="{{oldvlink}}" target="popup_tag2link">{{/oldvlink}}
  <span class="oldvalue">{{oldv}}</span>
  {{#oldvlink}}</a>{{/oldvlink}}
  ➡
  {{#vlink}}<a href="{{vlink}}" target="popup_tag2link">{{/vlink}}
  <span class="value">{{v}}</span>
  {{#vlink}}</a>{{/vlink}}
</div>
    {{/mod}}
  {{#del}}
<div class="del" title='Delete "{{k}}" tag'> ➖ <span class="tag">{{k}}</span> =
  {{#oldvlink}}<a href="{{oldvlink}}" target="popup_tag2link">{{/oldvlink}}
  <span class="oldvalue">{{oldv}}</span>
  {{#oldvlink}}</a>{{/oldvlink}}
</div>
    {{/del}}
{{/fixes}}
</div>
</script>

<script id="unchanged" type="x-tmpl-mustache">
<div class="mpe-tags" title="Tags with no changes">
{{#tags}}
  <span class="tag">{{k}}</span> =
  {{#vlink}}<a href="{{vlink}}" target="popup_tag2link">{{/vlink}}
  <span class="value">{{v}}</span>
  {{#vlink}}</a>{{/vlink}}
  <br>
{{/tags}}
</div>
</script>

<script id="footer" type="x-tmpl-mustache">
<div class="mpe-footer">
{{^fixes}}
<div class="mpe-nofix">No Changes</div>
{{/fixes}}
  {{#rejected}}
<div class="mpe-rejected" title="This change has been previously rejected on {{reject_date}}. You might want to contact the user, or if you are sure it is a mistake, click on the Object ID and edit it manually.">This change was rejected by <a target="_blank" href="{{mainWebsite}}/user/{{rejected}}">{{rejected}}</a></div>
{{/rejected}}
  {{#fixes}}
    {{^rejected}}
  <button class="mpe-save-btn" data-type="{{accept_type}}" title="{{accept_title}}">{{accept_text}}</button>
    {{#taskId}}
  <button class="mpe-reject-btn" data-type="reject" title="Tag this change as a mistake, to prevent it from being changed by this task in the future.">Reject</button>
    {{/taskId}}
    {{/rejected}}
  {{/fixes}}
</div>
</script>

<script id="err" type="x-tmpl-mustache">
<div class="mpe-error" title="Error">{{error}}</div>
</script>

<!-- Unfinished, needs a full rewrite !!! -->
<script id="toolbar" type="x-tmpl-mustache">
<div id="mpe-toolbar" class="header-toolbar" style="width:200px; height:200px;position:fixed;">
  <nav class="navbar navbar-default result">
    <ul class="nav navbar-nav navbar-left">
      <li><a id="display-button" href="#" data-toggle="dropdown" class="dropdown-toggle" data-placement="top" data-i18n="[title]wdqs-app-button-display-title">
      <span id="display-button-icon" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span id="display-button-label"></span>
      <span class="caret"></span>
      </a>
        <ul id="result-browser-menu" class="dropdown-menu" role="menu">
        </ul></li>
      <li>
      <li>
        <a target="_blank" class="help" rel="noopener" href="https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/Wikidata_Query_Help/Result_Views">
        <span class="fa fa-question-circle"></span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-text">
        <span class="query-total">
        <span class="label label-default"><span id="total-results"></span> Results in <span id="query-time"></span> ms </span></span> &nbsp;
      </li>
    </ul>
  </nav>
</div>
</script>
