<script id="popup" type="x-tmpl-mustache">
<div id="mpe-{{type}}-{{id}}">
  <div class="mpe-header">

    <div class="mpe-help" title="Show Help page" class="help">
      <a target="popup_help" href='{{url_help}}'>&nbsp;&#63;&nbsp;</a>
    </div>

    <span class="mpe-id"><a target="_blank" href="{{mainWebsite}}/{{type}}/{{id}}">{{type}} {{id}}</a></span>
    <span class="mpe-ver">v{{version}}</span>

    <div class="mpe-links">
      <a title="Use XML editor to edit this feature." href="#" onclick="window.open('http://rawedit.openstreetmap.fr/edit/{{type}}/{{id}}','rawedit','height=360,width=710');">rawedit</a>
  {{#relation}}
      <a target="_blank" href="http://analyser.openstreetmap.fr/cgi-bin/index.py?relation={{id}}">analyse1</a>
      <a target="_blank" href="http://polygons.openstreetmap.fr/~osmbin/analyse-relation-open.py?{{id}}">analyse2</a>
  {{/relation}}
      <br>
    </div>
  </div>

<div class="mpe-content">
  <div class="mpe-fixes">
  {{#fixes}}
    {{#add}}
<div class="add" title='Add a new tag "{{k}}"'> ➕ <span class="tag">{{k}}</span> =
  {{#vlink}}<a href="{{vlink}}" target="popup_tag2link">{{/vlink}}
  <span class="value">{{v}}</span>
  {{#vlink}}</a>{{/vlink}}
</div>
    {{/add}}
    {{#mod}}
<div class="mod" title='Modify "{{k}}" tag'> ✎ <span class="tag">{{k}}</span> =
  {{#oldvlink}}<a href="{{oldvlink}}" target="popup_tag2link">{{/oldvlink}}
  <span class="oldvalue">{{oldv}}</span>
  {{#oldvlink}}</a>{{/oldvlink}}
  ➡
  {{#vlink}}<a href="{{vlink}}" target="popup_tag2link">{{/vlink}}
  <span class="value">{{v}}</span>
  {{#vlink}}</a>{{/vlink}}
</div>
    {{/mod}}
    {{#del}}
<div class="del" title='Delete "{{k}}" tag'> ➖ <span class="tag">{{k}}</span> =
  {{#oldvlink}}<a href="{{oldvlink}}" target="popup_tag2link">{{/oldvlink}}
  <span class="oldvalue">{{oldv}}</span>
  {{#oldvlink}}</a>{{/oldvlink}}
</div>
    {{/del}}
  {{/fixes}}
  </div>
  <div class="mpe-comment" title="Comment for this change">
    {{comment}}
  </div>
  <div class="mpe-tags" title="Tags with no changes">
  {{#tags}}
    <span class="tag">{{k}}</span> =
    {{#vlink}}<a href="{{vlink}}" target="popup_tag2link">{{/vlink}}
    <span class="value">{{v}}</span>
    {{#vlink}}</a>{{/vlink}}
    <br>
  {{/tags}}
  </div>
</div>

<div class="mpe-footer">
{{^fixes}}
<div class="mpe-nofix">No Changes</div>
{{/fixes}}
{{#fixes}}
  <button class="mpe-save-btn" title="Upload this change to OpenStreetMap server">{{saveText}}</button>
{{/fixes}}
</div>
<div class="mpe-error"></div>
</div>
</script>

<script id="wait" type="x-tmpl-mustache">
<div class="mpe-header">
  <span class="mpe-id"><a target="_blank" href="{{mainWebsite}}/{{type}}/{{id}}">{{type}} {{id}}</a></span>
  <div class='mpe-wait' title='downloading'/>
</div>
</script>

<script id="error" type="x-tmpl-mustache">
<div class="mpe-header">
  <span class="mpe-id"><a target="_blank" href="{{mainWebsite}}/{{type}}/{{id}}">{{type}} {{id}}</a></span>
  <div class="mpe-error" title="Error">{{error}}</div>
</div>
</script>
